<!--<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <link rel="login-page.component.css" href="about.component.css">
        <link rel="login-page.component.css" href="icons/icon.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Cafe Management</title>    
    </head>
    <body >
          
        <section class="menu">
            <div class="nav">
                <div class="logo">
                    <img src="/assets/images/logo.png" alt="Cafe Management Logo">
                    <h1>Cafe<b>Management</b></h1>
                </div>

                <div class="button-container">
                   <button href="#Contact" class="header1" >CONTACT</button>
                   <button href="#Activities" class="header2" >ACTIVITIES</button>
                   <button href="#Trainers" class="header3" >TRAINERS</button>
                </div>  -->


        <!---->        <!DOCTYPE html>
<html>
  <head>
    <title>Happy Paws</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
<body>
    <section>
        <div class="title">
            <div class="logo">
                <img src="/assets/images/logo.png" alt="Cafe Management Logo" width="150px">
                <h1>Cafe<b>Management</b></h1>
                <div class="button-container">
                    <a href="#" class="header1" ><b>About</b></a>
                    <a href="#" class="header2" ><b>Team</b></a>
                    <a href="#" class="header3" ><b>Gallery</b></a>
                </div>
            </div>
           
        </div>
    </section>
   <section>
  <div class="image" id="Home">
    <h1 class="text" ><b>
        
        Elevating Moments, Serving Experience:
        
        <br>Where Every Sip Tells a Story </b></h1>

        <video controls>
            <source src="assets/images/CafeVideo.MP4" type="video/mp4" style="float: left;">
          </video>
        </div>
        <section>
        <div class="row">
            <h2 style="text-align:center"><b>Our Team</b></h2>
          <div class="column">
            <div class="card">
              <img src="/assets/images/Team1.jpg" alt="Jane" style="width:100%">
              <div class="container">
                <h3><b>Yogananda</b></h3>
                <p class="title">CEO & Founder</p>
              
                <p>yogananda&#64;gmail.com</p>
                
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="/assets/images/Team2.jpg" alt="Mike" style="width:100%" >
              <div class="container">
                <h3><b>Lavanya</b></h3>  <p class="title">Partner</p>
              
                <p>Lavanya&#64;gmail.com</p>
                
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <img src="/assets/images/Team3.jpg" alt="John" style="width:100%">
              <div class="container">
                <h3><b>Suresh</b></h3>
                <p class="title">Partner</p>
                <p></p>
                <p>Suresh&#64;gmail.com</p>
                
              </div>
            </div>
          </div>
        </div>
        </section>

        <section>
            <h2><b>Gallery</b></h2>
            <div class="Gallery"><div class="row1">
               
                <div class="column2">
                  <img src="/assets/images/gallery2.jpg" alt="Snow" style="width:95%">
                </div>
                <div class="column2">
                  <img src="/assets/images/gallery3.jpg" alt="Forest" style="width:95%">
                </div>
                <div class="column2">
                  <img src="/assets/images/gallery5.jpg" alt="Mountains" style="width:95%">
                </div>
                
              </div>
              
            </div>
        </section>
        <section>
            <div class="Gallery"><div class="row1">
               
                <div class="column2">
                  <img src="/assets/images/gallery1.jpg" alt="Snow" style="width:95%">
                </div>
                <div class="column2">
                  <img src="/assets/images/gallery4.jpg" alt="Forest" style="width:95%">
                </div>
                <div class="column2">
                  <img src="/assets/images/gallery6.jpg" alt="Mountains" style="width:95%">
                </div>
                
              </div>
            </div>
        </section>
   </section>
   <section>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col w3-center">
                    <h4><b>Follow Us</b></h4>
                    <div class="social-links">
                        <a href="https://twitter.com/Yogananda222" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/mr.nanda_01" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/in/puchakayala-yogananda-naidu-8a8991216" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   </section>
 





                
