<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body >
          
        <section class="menu">
            <div class="nav">
                <div class="logo">
                    <img src="/assets/images/logo.png" alt="Cafe Management Logo">
                    <h1>Cafe<b>Management</b></h1>
                </div>
                

<div class="button-container">
    <a routerLink="/log-in" class="login-button"><b>SignIn</b></a>
    <a routerLink="/signup" class="signup-button"><b>SignUp</b></a>
</div>

            </div>
        </section>
        <section class="grid">
            <div class="content">
                <div class="content-left">
                    <div class="info">
                        <h2> <b>Order Your Best </b><br> <b>Food anytime</b></h2>
                        <p>Hey, Our delicious food is waiting for you, <br> 
                        We are always near to you with fresh items of food :)
                                                                        </p>
                    </div>
                    <button routerLink="/log-in" class="explorefood-button"><b>Explore Food</b></button>
                </div>
            </div>
        </section>
     <section>
            <div class="content">
                <div class="content-right">
                 <img src="/assets/images/pizzamain.png" width="400" alt="" class="image"> 
                </div>
            </div>
           </section>

         <section class="category">
            <div class="list-items">
              
                <div class="card-list">
                    <img src="/assets/images/burger.png" alt="" width="100">
                     <div class="food-title">
                        <h2>Burger</h2>
                        
                     </div>
                     <div class="desc-food">
                        <p>A succulent chicken patty layered with flavorful condiments and fresh vegetables. </p>
                     </div>
                     
                     <div class="price">
                        <p>₹140 </p>
                     </div>
                     
                <div class="card-list">
                    <img src="/assets/images/dessert3.png" width="100">
                </div>
                <div class="food-title">
                    <h2>Strawberry Cake</h2>
                </div>
                <div class="desc-food">
                    <p>Delightful miniature confections, bursting with flavor and sweetness.</p>
                </div>
                <div class="price">
                    <p>₹70 </p>
                </div>
                <div class="card-list">
                    <img src="/assets/images/pizza3.png" width="100">
                </div>
                <div class="food-title">
                    <h2>Pineapple Pizza</h2>
                </div>
                <div class="desc-food">
                    <p>A sweet and savory fusion of meat chunks with melted cheese.</p>
                </div>
                <div class="price">
                    <p>₹170 </p>
                </div>
                </div>
            </div>
        </section> 
       

    </body>
</html>

<section>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4><b>Company</b></h4>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/about">Team</a></li>
                       
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>GetHelp</b></h4>
                    <ul>
                        <li><a href="/help">FAQ</a></li>
                        <li><a href="/help">Help & Support</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>Legal</b></h4>
                    <ul>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/franchise">Franchise</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>Follow Us</b></h4>
                    <div class="social-links">
                       
                        <a href="https://twitter.com/Yogananda222" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/mr.nanda_01" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/in/puchakayala-yogananda-naidu-8a8991216" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>


