@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
  }
  .container{
    max-width: 1200vw;
    margin: 0 auto;
    
  }
  * {
    box-sizing: border-box;
  }
  
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .logo img {
    max-width: 120px; /* Set your desired max-width for the image */
    margin-right: 5px; /* Adjust as needed */
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.6em; 
    content: Managemt ;
    color: #000;
  }
  
  .logo h1 b{
    color: #ff511c;
  }
  
  .nav p {
    margin: 0 20px;
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
   
    margin-left: 25px;
  }
  
  .nav a {
    text-decoration: none;
    color: #0a0909
    ; /* Set your desired text color */
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
  }
  
  .login-button{
    margin-left: 450px;
    padding: 10px 20px;
    text-decoration: none;
    color: #0e0d0d; /* Set your desired text color */
    background-color: #f2d2b2;
    border-radius: 5px;
    font-size: 20px;
    
    
    
  }
   .adminlogin-button{
    margin-left: 100px;
    padding: 10px 20px;
    text-decoration: none;
    color: #020202; /* Set your desired text color */
    background-color: #f2d2b2;
    border-radius: 5px;
    font-size: 20px;
  }

.finalimage {
    position: absolute;
    margin-left: 70px;
  }
.main-container{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    
}

.main-container {
    height: 100%;
    margin-left: 190px;
    overflow: hidden;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    
}

.form-content .form-items {
    border: 3px solid #F2D2BD;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #0a0101;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #0c0101;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #060000;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 70%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #eeecec;
    font-size: 15px;
    font-weight: 300;
    color: #555353;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.form-button {
  background-color: #ea4335;
  color: hsl(9, 24%, 94%);
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.form-button {
  background-color: #f2d2b2;
  color: #000;
  
}

.reset-button-blue {
  background-color: #f2d2b2;
  color: #050505;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.reset-button-blue:hover {
  background-color: #ff5131;
}

.bottom {
  color: #080808;
  padding-left: 5px;

}
